
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: bruno
spec:
  interval: 5m
  timeout: 10m
  chart:
    spec:
      chart: ./flux/clusters/homelab/infrastructure/homepage/chart
      version: 0.1.15
      sourceRef:
        kind: GitRepository
        name: homelab
        namespace: flux-system
  values:
    ingress:
      enabled: false
    monitoring:
      enabled: true
    ollama:
      url: "http://ollama:11434"  # Use internal service
      enabled: true  # Enable Ollama with external service