
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: bruno
spec:
  interval: 5m
  timeout: 10m
  chart:
    spec:
      chart: ./flux/clusters/homelab/infrastructure/homepage/chart
      version: 0.1.11
      sourceRef:
        kind: GitRepository
        name: homelab
        namespace: flux-system
  values:
    ingress:
      enabled: false
    monitoring:
      enabled: true